@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;700&display=swap');

/* .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  } */


/* START:HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  background-color: hsla(0, 0%, 100%, .5);
  backdrop-filter: blur(20px);
  height: 70px;
  /* position: fixed; */
  width: 100%;
  justify-content: space-evenly;
  z-index: 2;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}


@media only screen and (min-width: 500px) {
  .active {
    margin-left: 20px;
  }

  .pageName {
    margin-left: 20px;
  }
}

.headerLeft {
  font-size: 32px;
  font-weight: 700;
}

.headerRight {
  text-decoration: none;
  margin: 0px 20px;
  color: #424242;
  font-size: 18px;
}

.logoFirstWord {
  font-weight: 200;
  color: #424242;
}


.logoSecondWord {
  color: #4056ff;
  font-weight: 400;
}

.pageName {
  text-decoration: none;
  margin-left: 20px;
  color: #424242;
  font-size: 18px;
}

.linkActive {
  background: aqua;
}

/* END:HEADER */

/* START: BODY */


.flexContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f57a;
  height: 85vh;
  font-family: 'Kanit', sans-serif;
}

.blogContainer {
  background-color: aliceblue;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  margin: 1.5em 0.5em 0.5em 0.5em;
  border: 1px solid #eee;
  background-color: white;
  transition: .4s;
}

.blogContainer:hover {
  border: 1px solid #4056ff;
  box-shadow: 5px 5px #4056ff;
}

.blogContainer:hover .title {
  color: #4056ff
}

.blogContainer:hover .blogImage  {
  border: 1px solid #f4d150;
}

/* .blogContainer:first-child {
  margin-top: 2.5em;
} */

.blogImage {
  width: 100px;
  background-color: #f5f5f5;
  height: 100px;
  border-radius: 20px;
  margin: 10px 10px;
  border: 1px solid #f5f5f5;
  transition: .4s;
}

.imageCover {
  position: relative;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 20px;
}

.blogDetail {
  position: relative;
  margin: 10px 10px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  transition: .4s;
}

.titleDate {
  font-size: 12px;
  color: #646464;
}

.createdBy {
  font-size: 12px;
  color: #646464;
}

.MyCaption {
  background-color: #6678ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Kanit';
    color: #ffffff;
    font-weight: 300;
}

.nuengCaption {
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
  opacity: 0.8;
}


.footer {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-bottom: 10px;
  font-size: 12px;
  color: #646464;
}

.active {
  border-bottom: 5px solid #f4d150;
}

.footer_imageProfile img {
  border-radius: 50%;
}
@media only screen and (max-width: 500px) {
  .headerLeft {
    font-size: 24px;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    height: 95px;
    margin-left: 0px;
  }
 
  
  .active:not(:first-child) {
    margin-left: 20px;
  }

  .pageName:first-child {
    margin-left: 0px;
  }

  .blogContainer {
    max-width: 380px;
  }

  .blogImage, .blogDetail {
    margin: 5px 5px;
  }


}
