.Code{
    font-size: 14px;
    overflow-x: scroll;
    max-width: 80vw;
    
}

.borderRadius20 {
    border-radius: 20px;
}

@media only screen and (max-width: 500px) { 
    .Code{
        font-size: 10px;    
        max-width: 90vw;
    }
}

